doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-width=1")

    block title
      title GudHub Page
    
    link(rel="icon", type="image/svg+xml", href="/img/gh-alt.svg")
    link(rel="alternate icon", href="/img/gh-alt.ico")
    link(rel="mask-icon", href="/img/gh-alt.svg", color="#666666")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js")
  
  body
    nav.uk-navbar-container(uk-navbar)
      div.uk-navbar-left
        a.uk-navbar-item.uk-logo(href="/")
          span.uk-icon(uk-icon="icon: github-alt; ratio: 2")
          span GudHub

        form.uk-search.uk-search-default
          span.uk-search-icon-flip(uk-search-icon)
          input.uk-search-input(type="search", placeholder="Search or jump to...")
        
        ul.uk-navbar-nav
          li
            a(href="#") Pull requests
          li
            a(href="#") Issues
          li
            a(href="#") Marketplace
          li
            a(href="#") Explore
      
      div.uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href="#", uk-icon="bell")
          li
            a(href="#", uk-icon="plus")
          li
            a(href="#", uk-icon="sign-in")
    
    block raw-content
      div.uk-container.uk-margin-top
        block content
          div.uk-placeholder
            p.uk-text-center Nothing here yet!
